#AddHandler php71-script .php
#suPHP_ConfigPath /home/storage/a/8b/92/simarketing2/
#php_value session.save_path "/home/storage/a/8b/92/simarketing2/session"

# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
